<%= form_with(model: group) do |form| %>
  <%= render 'layouts/navbar' %>
  <%= form.submit 'Save', class: 'nav-login-btn' %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-4" style="width: 100%;">
    <% form.label :name %>
    <%= form.text_area :name, autofocus: true, autocomplete: "name", placeholder:"Name", class:'new-session-name' %>
  </div>

  <div class="field mt-2 d-flex justify-content-center" style="width: 100%;">
    <% form.label :icon %>
    <%= form.select :icon, options_for_select(@group_icons), { include_blank: 'Select Group Icon' }, class:'group-icons-field' %>
  </div>

  <div class="field mt-2" style="width: 100%;">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :group_user_id, value:current_user.id, type: :hidden, class:'new-session-name' %>
  </div>
<% end %>
