<div class="group-settings">
  <% @groups.each do |group| %>
    <%= link_to group_path(group.id), class: 'text-light text-decoration-none' do %>
      <div class="group-setting-item">
        <div class="allgroups_icon"><%= raw(group.icon) %></div>
        <div class="group-name_date">
          <div class="d-flex flex-column">
            <p class="group-name"><%= group.name %></p>
            <p class="group-date">Created by <%= User.find(group.user_id).name %></p>
            <p class="group-date"><%= group.created_at.strftime("%d %b %Y") %></p>
          </div>
          <%= show_edit_del_btns(group) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>