<div class="d-flex flex-column justify-content-center">
  <%= form_with(model: exercise) do |form| %>
    <%= render 'layouts/navbar' %>
    <%= form.submit 'Save', class: 'nav-login-btn savebtn-exercise-edit' %>
    <%= forms_exercisesgroups_error(exercise) %>
  
    <div class="edit-container">
      <div class="field between-navbar-form" style="width: 100%;">
        <% form.label :name %>
        <%= form.text_area :name, autofocus: true, autocomplete: "name", placeholder:"Name", class:'new-session-name' %>
      </div>

      <div class="field mt-1" style="width: 100%;">
        <% form.label :time %>
        <%= form.number_field :time, placeholder: 'Minutes', class:'new-session-name' %>
      </div>

      <div class="field mt-4" style="width: 100%;">
        <% form.label :user_id %>
        <%= form.number_field :user_id, id: :exercise_user_id, value:current_user.id, type: :hidden, class:'new-session-name' %>
      </div>

      <div class="field text-center mt-2 d-flex flex-column align-items-center" style="width: 100%;">
        <%= form.label :group_id %>
        <%= collection_select(:exercise, :group_id, Group.all, :id, :name, include_blank: 'None') %>
      </div>
    </div>
  <% end %>
</div>
