<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @exercise.time %>
</p>

<p>
  <strong>User:</strong>
  <%= @exercise.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @exercise.group_id %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
